@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Application is for the demonstrations of source code management for CS7504, Security for DevOps</p>

<p>Descriptions of our cars coming soon!!!</p>

<p>Purchase our new merch coming in two weeks.New Tops and Hoods available for purchase.</p>

<p>View information on our latest racers and their racing stats.</p>

<p>View the winner of the V8 supercars finale</p>

