@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Application is for the demonstrations of source code management for CS7504, Security for DevOps</p>

<p>Descriptions of our cars coming soon!!!</p>
