@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>To contact us about upcoming updates or joining the team feel free to email either Ezra or Uriah on the email addresses below, or altenatively leave a message at the phone provided.</p>

<address>
    Ezra Turner and Uriah Twhill<br />
    Wellington Institute of Technology (Petone Campus)<br />
    <abbr title="Phone">Phone:</abbr>
    022.123.456789
</address>

<address>
    <strong>Ezra's Email:</strong>   <a href="mailto:Support@example.com">Ezra.turner001@student.weltec.ac.nz</a><br />
    <strong>Uriah's Email:</strong> <a href="mailto:Marketing@example.com">Uriah.twohill001@student.weltec.ac.nz</a>
</address>