@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Cars</h1>
    <p class="lead">Learn Everything you need to know about Super Cars</p>
    <p><a href="https://www.supercars.com/" class="btn btn-primary btn-lg">Visit the Super Car Website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Home of the Super Cars</h2>
        <p>
            This is the Home of SuperCars.Find out Everything to do with SuperCars including Races, Cars, Events and Murchandise
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Cars</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meet the Team</h2>
        <p>Meet the Crew Behind This Assignment</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Merch</h2>
        <p>Check out our new and upcoming merch on our website or come wisit us in store!</p>
        <p><a class="btn btn-default" href="https://www.supercars.com/merch/">Visit our Store! &raquo;</a></p>
    </div>
</div>